@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto';
}

body {
  margin: 0;
  font-size: 62.5%;
  --grey: #7b7c81;
  --darkGrey: #7b7c8133;
  --green: #2aa294;
  background-color: #fafaff;
}
.message {
  padding: 0 15rem;
  margin-top: 1rem;
}
.searchContainer {
  position: relative;
}
.searchSuggestions {
  position: absolute;
  top: 80%;
  left: 0;
  width: 24rem;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 1px 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
  background-color: #fff;
}
.searchSuggestionLink {
  cursor: pointer;
  color: black;
  font-size: 0.8rem;
  margin-left: 0.8rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.searchSuggestionLink:hover {
  background-color: #f0f0f0;
}
.more {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 6rem;
}

@media screen and (max-width: 1000px) {
  .message {
    display: flex;
    align-self: center;
    justify-self: center;
    padding: 2rem;
    margin: 2rem;
  }
}
@media screen and (max-width: 650px) {
  .searchSuggestions {
    width: 12rem;
  }
  .message {
    display: flex;
    align-self: center;
    justify-self: center;
    padding: 2rem;
    margin: 2rem;
  }
}
